body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0; /* Espacio alrededor del texto e ícono */
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab.fa-instagram {
    font-size: 2em; /* Ajusta el tamaño del ícono a tu preferencia */
    margin-left: 10px; /* Espacio a la izquierda del ícono */
}

.Imgl {
    width: 20%;
    margin: 30px 0;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
